/* :root{
    --font-amatic :'Amatic SC, sans-serif';
    --font-Inter :'Inter, sans-serif';
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}


ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a,
span {
    display: inline-block;
}



.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar {
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4.5px 12px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container h1 .logo {
    color: #37373f;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

span {
    color: hsl(0, 84%, 44%);

}

.navbar ul {
    display: flex;
    gap: 32px;
}

.navbar ul li a {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 700;
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: #7f7f90;
    transition: all 0.4s ease-in-out;
}


.navbar ul li:nth-child(1) a {
    color: #37373f;
}

.fa-solid {
    font-size: 25px;
    cursor: pointer;
}


.navbar ul li {
    position: relative;
}

.navbar ul li::before {
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #E61414;
    transition: width .5s;

}

.navbar ul li:hover::before {
    width: 100%;
}

.home-section {
    background-color: #eee;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.home-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;

}

.home-section .home-content {
    width: 40%;
}

.home-section .home-content h2 {
    font-family: Amatic SC, sans-serif;
    color: #37373f;
    font-size: 65px;
    font-weight: 700;
}

.home-section .home-content p {
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0;
    line-height: 25px;
    color: #4f4f5a;
    /* background-color: #E61414; */
}

.home-section .buttons-home {
    display: flex;
    align-items: center;
}

.home-section .home-content .BookTable {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 0px 100px 100px;
    margin-right: 25px;
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 84%, 44%);

}

.home-section .home-content .BookTable:hover {
    background-color: #E61414;
    transition: all 0.4s ease-in-out;
}

.home-section .home-content .Video {
    font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    color: #000000;

}

.home-section .home-content .icon-background {
    background: linear-gradient(90deg, hsl(0, 84%, 44%) 50%, hsl(0, 84%, 44%) 50%, transparent 50%, transparent 50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section .home-content .fa-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 15px;
}

.home-section .home-content .Video:hover {
    color: #E61414;
}

.home-section .home-content .home-image {
    width: 100%;
    filter: drop-shadow(10px 10px 10px #151419);


}

.home-section .home-image img {
    width: 90%;
}

.home-section .home-image img:hover {
    animation: snake 0.5s infinite;
}

@keyframes snake {
    0% {
        transform: translate(0) rotate(0deg);
    }

    20% {
        transform: translate(-2px, 2px) rotate(-1deg);
    }

    40% {
        transform: translate(-2px, -2px) rotate(0deg);
    }

    60% {
        transform: translate(2px, 2px) rotate(1deg);
    }

    80% {
        transform: translate(2px, -2px) rotate(0deg);
    }

    100% {
        transform: translate(0) rotate(-1deg);
    }
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.cheefs .content-cheef {
    text-align: center;
    padding: 40px 5px;
    /* background-color: #E61414; */
}

.cheefs .content-cheef h2 {
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #7f7f90;
    font-size: 15px;
}

.cheefs .content-cheef p {
    font-family: Amatic SC, sans-serif;
    font-size: 50px;
}

.cheefs .contant {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.cheefs .contant .card {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    position: relative;

}

.cheefs .card .icon-social {
    background-color: #ffffff4d;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: -55px;
    z-index: 999;
    transition: right 0.4s ease-in-out;
    width: fit-content;

}

.cheefs .card .icon-social i {
    color: #37373f66;

}

.cheefs .contant .card:hover .icon-social {
    right: 10px;
    transition: right 0.4s ease-in-out;
}

.cheefs .contant .card .icon-social li {
    padding: 10px 5px;
}

.cheefs .contant .card .icon-social li a i:hover {
    color: #101011;
}

.cheefs .contant .card .card-img {
    position: relative;
}
.cheefs .contant .card .card-img img{
    width: 100%;
}
.cheefs .contant .card .card-img::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    bottom: -5px;
    background-image: url(/img/team-shape.svg);
    background-repeat: repeat-x;
    /* background-color: #E61414; */
}

.cheefs .card .card-text {
    padding: 25px;
    padding-top: 10px;
    /* background-color: #E61414; */
}

.cheefs .card .card-text h3 {
    color: #212529;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.cheefs .card .card-text h4,
.cheefs .card .card-text p {
    color: #7f7f90;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.cheefs .card .card-text h4 {
    margin: 5px 0px 10px;
}

.cheefs .card .card-text p {
    font-style: italic;
}

.cheefs .card:hover {
    transition: all 0.4s ease-in-out;
    scale: 1.07;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.. */
.gallery{
    background-color: #eee;
    padding: 40px 0px;
    /* background-color: red; */


}
.gallery .tittle-gallery{
    text-align: center;
    margin-bottom: 25px;
}
.gallery .tittle-gallery h2{
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #7f7f90;
    font-size: 15px;
    text-transform: uppercase;

}
.gallery .tittle-gallery p{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
}
.gallery .photo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
    height:72.8125rem;
}
.gallery .photo .pizza{
    width: calc(calc(100% - 30px*2) / 3);
    border: 5px solid #fff;
    position: relative;
    overflow: hidden;
}
.gallery .pizza img{
    width: 100%;
}
.gallery .pizza .layer-pizza{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: #F5F5F5;
z-index: 9;
left: 0;
top: 100%;
position: absolute;
background-color: hsla(0, 0%, 0%, 0.51);
padding: 15px;
gap: 5px;

}
.gallery .pizza:hover .layer-pizza{
    top: 0;
    transition: all 0.4s ease-in-out;

}
.gallery .pizza:hover img {
transition: all 0.4s ease-in-out;
    scale: 1.1;

}

/* footer */
footer {
    background-image: linear-gradient(#0009, #0009), url(/img/textured-metal-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -1px 5px #0007;
    color: white;
}

footer .container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    gap: 20px;
    padding: 40px 5px;
    width: 80%;
}

footer .container .mealify {
    width: 24%;
}

footer .container .mealify .text-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    position: relative;
}

footer .container .mealify img {
    width: 15%;
}

footer .container .mealify h3 {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 55px;
    font-weight: 700;
}

footer .container .mealify p {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin: 10px 0px;
}

footer .container .mealify h2 {
    font-family: Inter, sans-serif;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ddd6;
    margin-bottom: 10px;
}

footer .container .mealify .social-media .social-icons {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

footer .container .mealify .social-media .social-icons a {
    font-size: 20px;
}

footer .container .Subscribe {
    width: 48%;
}

footer .container .Newsletter {
    display: flex;
    gap: 5px;
    margin: 20px 0px;
    flex-flow: row wrap;
}

footer .container .Newsletter input {
    padding: 10px;
    font-weight: 400;
    font-family: 'Inter, sans-serif';
    font-size: 15px;
    flex-grow: 1;
    border: none;
}

footer .container .subscribe-btn {
    background-color: hsl(0, 84%, 44%);
    color: hsl(0, 0%, 100%);
    padding: 12px;
    text-align: center;
    border: none;
    transition: all 0.4s ease-in-out;

}

footer .container .subscribe-btn i {
    font-weight: 900;
    font-size: 15px;
}

footer .container .Subscribe p {
    font-weight: 400;
    margin-block: 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

footer .container .Subscribe h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;

}

footer .container .Subscribe ul {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 10px;
}

footer .container .Subscribe ul li {
    padding: 5px;
    transition: all 0.4s ease-in-out;
    width: calc(50% - 20px);
}

footer .container .Subscribe ul li:hover{
    transform: translateX(10px);
    background-color: #222;

}
footer .container .Subscribe ul li a{
    color: #fff;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    


}
footer .container .Subscribe ul li span{
    color: white;
    margin-right: 4px;

}
footer .container .Subscribe ul li .fa-fw{
    font-size: 20px;
}


footer .Get {
    width: 24%;
}

footer .Get h3{
font-family: "Inter", sans-serif;
font-weight: 700;
margin-bottom: 10px;
}
footer .Get ul{
    display: flex;
    gap: 10px;
    flex-flow: column wrap;
}
footer .Get ul li{
    display: flex;
    flex-flow: row;
    align-items: center;
    font-weight: 400;

}
footer .Get ul li a{
    color: white;
    font-weight:400;
}

footer .Get ul li span .fa-fw{
    text-align: center;
    color: hsl(0, 84%, 44%);
    margin-right: 10px;
    font-size: 21px;
    
}